name: pull-request
permissions:
  contents: read

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Disable mandb updating
        run: |
          sudo rm -f /var/lib/man-db/auto-update

      - name: Install pcap library
        run: |
          sudo apt-get update
          sudo apt-get -y install libpcap-dev

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --verbose
      
      - name: Run tests
        run: cargo test --verbose
